.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.container img {
  width: 400px;
  height: 400px;
  filter: drop-shadow(10px 12px 15px rgb(182, 182, 182));
}
.search {
  margin-left: 50px;
}
.container h1 {
  color: #240476;
  margin-bottom: 50px;
}
